

html, body {
    background-color: #90ee90;
    margin: 0;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 8vw 1fr 20vw;
    grid-template-rows: 8vh 1fr 8vh;
    grid-gap: 1px;
    grid-template-areas: 
    "header title navigation"
    "section section aside"
    "footer footer footer";
    align-items:stretch;
}
header {
    grid-area: header;
    display: grid;
    align-items: center;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo {
    margin-left: 10px;
}

.title {
    grid-area: title;
}

nav {
    grid-area: navigation;
    display: grid;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

section {
    grid-area: section;
    background-color: #ffffe0;
    margin: 0 2px 0 0;
    padding: 10px;
}

p {
    margin-left: 12vw;
    margin-right: 12vw;

}

.coq {
    float:left;
    width: 15%;
    padding-right: 10px;
    border-radius: 50%;
}

.grenouille {
    float:right;
    width: 15%;
    padding-left: 10px;
    border-radius: 50%;
}

h1,
h2 {
    text-align: center;
}

#textTop {
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1em;
}

#textMidle {
    text-align: justify;
    padding-left: 20px;
    font-size: 1em;
}

#textBottom {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
}

aside {
    grid-area: aside;
    background-color: #ffffe0;
    margin: 0 0 0 2px;
}

aside ul {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

footer {
    grid-area: footer;
    background-color: #e4c791;
    display: grid;
    align-items: center;
}

.navfooter {
    display: flex;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 10px;

}

/*@media screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
    }

    * {
        text-align: center;
    }

    nav ul {
        display: flex;
        margin: 10px;
        flex-direction: column;
    }
    section {
        margin: 0;
    }

    aside {
        margin: 0;
    }
}
@media screen and (max-width: 1000px) {
    aside ul {
        padding-left: 20px;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        display: none;
    }
}*/
